
@{
    ViewBag.Title = "SearchResults";
}

<h2>Search Results</h2>
<p>In your homework, the controller would return you to the Index page with the subset of records that meet your search criteria.</p>
<br />
<h2>  These are the options that you have chosen:</h2>

<h3>@ViewBag.SearchName</h3>

<h3>@ViewBag.SearchGPA</h3>

<h3>@ViewBag.SelectedDate</h3>

<h3>@ViewBag.OutOfState</h3>

<h3>@ViewBag.SelectedClassification</h3>

<h3>@ViewBag.SelectedMajor</h3>

<h3>@ViewBag.SelectedMonth</h3>

<h3>@ViewBag.SelectedSO</h3>

